.App {
  text-align: center;
  justify-content: column;
}

.navBox{
  background-color: violet;
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding: 15px;
  margin: 10px;
  border-bottom: solid 3px purple;
}

.heading{
  font-size: 18px;
  margin-top: 5px;
}

.navLink{
  background-color: cyan;
  border: solid 3px purple;
  padding: 5px;
  margin: 5px;
}

.navLink:hover{
  background-color: yellow;
  scale: 1.2;
}

.form{
  justify-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  border: solid 5px skyblue;
  margin-bottom: 10px;
  width: 60%;
}

.limit{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.error{
  color: red;
  font-size: 14px;
}

#body{
  height: 300px;
}

.input{
  width: 75%;
  font-size: 14px;
  height: 22px;
  padding: 2px;
  margin: 4px;
}

h1{
  color: blue;
}
